@tailwind base;
@tailwind components;
@tailwind utilities;

/* Semibold */
@font-face {
  font-family: "Custom";
  src: url("/fonts/SemiBold.ttf") format("ttf"),
    url("/fonts/SemiBold.woff") format("woff"),
    url("/fonts/SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Custom";
  src: url("/fonts/Bold.ttf") format("ttf");

  font-weight: bold;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Custom";
  src: url("/fonts/Regular.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 210 40% 98%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 16% 47%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --background-secondary: 222.2 47.4% 6%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 215 20% 65%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

h1 {
  font-family: "Custom", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 0.9em;
}

h2 {
  font-family: "Custom", sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-family: "Custom", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h4 {
  font-family: "Custom", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(var(--secondary));
}

h5 {
  font-family: "Custom", sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--primary));
}

p {
  font-family: "Custom", Helvetica, Arial, sans-serif; /* Custom font, Helvetica, Arial, generic sans-serif */  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color:var(--secondary);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

strong {
  font-family: "Custom", sans-serif;
  font-weight: 600;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1em;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5.5rem /* 72px */;
    line-height: 1em;
  }

  h2 {
    font-size: 3.5rem /* 48px */;
    line-height: 1;
  }

  h3 {
    font-size: 1.5rem /* 24px */;
    line-height: 1; /* 32px */
  }
}

/* TODO: REMOVE this is most likely not needed */

.link {
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.description {
  font-size: 12px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
